:root {
  --red: #dc3522;
  --dark-red: #932317;
  --grey: #75757c;
  --dark: rgb(30, 30, 32);
  --darker: rgb(24, 24, 26);
}

* {
  box-sizing: border-box;
  scroll-behavior: smooth;
  color: var(--grey);
}

.wrapper,
.large-header,
header,
.small-title,
nav,
footer,
aside,
.main-nav > div,
.nav-ul,
.links-ul,
.item-head,
.profile-pic,
.main-section,
.nav-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper {
  flex-direction: column;
  justify-content: flex-start;
  min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
aside li,
a:hover,
.links-ul a {
  color: white;
}

a {
  transition: 0.3s;
  text-decoration: none;
}

.links-ul a:hover {
  text-decoration: underline;
}

.small-header {
  display: none;
  flex-direction: column;
}

.small-title {
  flex-direction: column;
  align-items: flex-start;
  margin-left: 1rem;
}

img {
  width: 150px;
  border: 10px solid var(--darker);
  border-radius: 50%;
  margin: 0 0 1rem 0;
}

.large-header {
  margin: 1rem 0 0 0;
}

main,
.nav-ul,
.links-ul,
.nav-wrap,
.main-nav > div {
  width: 80%;
  min-width: 700px;
  max-width: 1250px;
}

nav,
footer,
aside {
  width: 100%;
}

.main-nav > div {
  justify-content: flex-end;
}

.main-nav .nav-ul,
.links-ul {
  width: fit-content;
  min-width: 0;
}

.main-nav .nav-ul {
  margin: 2rem 0;
}

.nav-ul,
.links-ul {
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

aside .nav-ul {
  width: 100%;
  justify-content: space-around;
}

.links-ul > span,
aside span,
.nav-ul li {
  margin: 0 0.5rem;
}

.item-head {
  justify-content: space-between;
}

.profile-pic {
  flex-direction: column;
}

.main-section {
  flex-direction: column;
  align-items: flex-start;
  margin: 0 0 0 1rem;
}

h1,
h2,
h4 {
  margin: 0;
}

h3 {
  cursor: pointer;
  border-bottom: 1px solid white;
}

h5 {
  margin: 0 0 0.3rem 0;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid white;
}

html {
  background-color: var(--dark);
}

footer,
nav {
  background-color: var(--darker);
}

main {
  flex-grow: 1;
}

.sections {
  display: none;
}

.display {
  display: block;
}

.sections section {
  margin-bottom: 3rem;
}

article {
  margin-bottom: 5rem;
}

.nav-wrap {
  justify-content: space-around;
  align-items: flex-start;
  margin: 2rem 0;
}

.foot-nav {
  width: auto;
  flex-direction: column;
  justify-content: flex-start;
}

.foot-nav:last-child * {
  text-align: right;
}

.foot-nav ul {
  list-style-type: none;
  padding: 0;
  margin-top: 0;
}

@media screen and (max-width: 750px) {
  main,
  .nav-ul,
  .nav-wrap,
  .main-nav > div {
    min-width: 0;
    width: 96%;
  }

  .nav-ul {
    margin: 1rem 0.1rem;
  }

  .large-header {
    display: none;
  }

  .small-header {
    display: flex;
  }

  .main-section {
    flex-direction: row;
    align-items: center;
    margin: 1rem 0 0 0;
  }

  img {
    width: 15vw;
    min-width: 75px;
    border-width: 0.5rem;
    margin: 0;
  }

  aside {
    display: none;
  }
}
